* {
    top: 0px;
    left: 0px;
}

nav {
    background-color: cornsilk;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.nav h3 a {
    text-decoration: none;
    color: black;
}

.sandButton {
    display: none;
}

#loginedUser {
    margin-top: 10px;
    margin-right: 50px;
}

button {
    background-color: rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 5px;
    padding: 8px;
}

a {
    text-decoration: none;
    color: black;
}

.buttons button:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.laptop {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.blog {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 0px 20px;
    text-align: center;
}

.blog img {
    width: 400px;
    height: 300px;
    margin-top: 15px;
}

.comments {
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
}

.comments ul li {
    list-style-type: none;
    border-bottom: 1px dotted black;
    width: 800px;
}

.comments ul li p {
    padding: 0px 20px;
}

.comment {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.comment form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#addComment {
    background-color: rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin: 10px 0 10px 20px;
    cursor: pointer;
}

#addComment:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

#MessageLengthErr {
    display: none;
}

#symbols {
    float: right;
}

section {
    background-color: bisque;
    border: 1px solid black;
    margin: 10px;
    padding: 0px 20px;
    height: fit-content;
}

#backBtn {
    position: relative;
    float: right;
    top: 20px;
    display: flex;
    background: none;
    border: none;
}

#backBtn img {
    margin: 0;
}

footer {
    background-color: green;
    border-radius: 10px;
    padding: 30px;
    display: flex;
}

.links {
    width: 30%;
    height: fit-content;
    margin-left: 50px;
}

.links ul {
    width: fit-content;
    display: flex;
    padding-left: 0;
}

.links ul li {
    display: inline;
    margin-left: 10px;
}

.links ul li:hover {
    cursor: pointer;
    color: white;
}

.messageS {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.messageS p {
    float: left;
}

.messageS textarea {
    height: 50px;
    float: left;
    background-color: rgba(255, 228, 196, 0.75);
}

.messageS button {
    margin-top: 10px;
}

.about {
    width: 40%;
    height: fit-content;
    text-align: center;
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
}

.social {
    width: 30%;
    height: fit-content;
    margin-left: 150px;
    width: 200px;
}

.social button {
    background: none;
    border: none;
}

.social button img:hover {
    background: none;
    border-radius: 30px;
}

@media only screen and (max-width: 600px) {
    nav {
        width: 90%;
    }

    .laptop {
        display: none;
    }

    .sandButton {
        display: block;
        margin-top: 10px;
    }

    .menuPhone {
        display: none;
        width: 150px;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .menuPhone button {
        background-color: rgba(0, 0, 0, 0.15);
        border: none;
        border-radius: 5px;
        padding: 8px;
        margin-top: 10px;
    }

    #sandwitch {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
    }

    .blog img {
        width: 350px;
        height: 250px;
        margin-top: 20px;
    }

    #backBtn {
        top: 10px;
    }

    .about {
        display: none;
    }

    .social {
        margin-left: 150px;
    }

    footer {
        width: 90%;
        height: fit-content;
        padding: 30px 25px 30px 25px;
    }
}