* {
    top: 0;
    left: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h2 {
    display: inline;
    display: flex;
    margin: 40px;
}

form {
    background-color: bisque;
    border: 1px solid black;
    border-radius: 10px;
    width: 350px;
    height: fit-content;
    text-align: center;
    margin-top: 30px;

}

#backBtn {
    position: relative;
    float: right;
    top: 20px;
    margin: 0 10px 0 10px;
    display: flex;
    background: none;
    border: none;
}

#backBtn img {
    margin: 0;
}

input[type=text],
input[type=password] {
    width: 250px;
    padding: 15px;
    margin: 10px 20px;
    display: inline-block;
    border: none;
    background: rgba(0, 0, 0, 0.1);
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: pink;
    outline: none;
}

input:invalid {
    box-shadow: 0 0 5px 1px red;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
}

label {
    margin-top: 10px;
    margin-left: 40px;
    display: flex;
    text-align: left;
}

#submit {
    background-color: rgba(0, 0, 0, 0.2);
    width: 120px;
    height: 30px;
    margin-top: 10px;
    border-radius: 20px;
    border: 1px solid black;
    font-size: large;
}

#submit:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.signin {
    border-top: 1px solid black;
    margin-top: 20px;
}

#EmailMessage {
    display: none;
}

#PasswordMessage {
    display: none;
}

#RePasswordMessage {
    display: none;
}


@media only screen and (max-width: 600px) {
    nav {
        width: 90%;
    }

    main {}
}